SECRET_KEY = your secret key Django

POSTGRES_DB = your database
POSTGRES_USER = your user database
POSTGRES_PASSWORD = your password database
POSTGRES_HOST = your host database
PORT = your port database

DEBUG = True
